body{
    background-image: url(../img/background-sky.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
}
.anim-items{
    position: absolute;
    z-index: 2;
}
.plane{
    width: 150px;
    height: 150px;
    background-image: url(../img/airplane.png);
    background-size: 100%;
    background-repeat:  no-repeat;
    top: 10px;
    left: 5px;
}
.parachute{
    width: 150px;
    height: 150px;
    background-image: url(../img/parachute.png);
    background-size: 100%;
    background-repeat:  no-repeat;
    top: 150px;
    left: 5px;
}